{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "${ELEMENT_HOMESERVER_URL}",
      "server_name": "${ELEMENT_HOMESERVER_NAME}"
    }
  },
  "disable_custom_urls": false,
  "disable_guests": false,
  "brand": "Element",
  "default_country_code": "US",
  "show_labs_settings": true,
  "default_theme": "light",
  "room_directory": {
    "servers": ["matrix.org", "${ELEMENT_HOMESERVER_NAME}"]
  }
}
